.root { 
max-width: 1200px; 
margin: 0 auto; 
padding: 5px; 
} 

.header-container { 
display: flex; 
justify-content: space-between; 
align-items: center; 
padding-bottom: 15px; 
margin-bottom: 15px; 
border-bottom: 5px solid var(--secondary_color); 
} 
.header-container h1 { 
font-size: 2.2rem; 
font-weight: 300; 
} 

.linkNoUnderline {
  text-decoration: none;
}