* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #141414;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 80px;
  width: 170px;
  height: 200px;
  border: solid;
  background-color: aqua;
  border-radius: 12%;
}
