* {
  margin: 10;
  padding: 10;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #141414;
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.contenedor-elementos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.elemento {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 170px;
  height: 200px;
  border: solid;
  background-color: lightskyblue;
  border-radius: 12%;
}
