:root {
  --size: 1rem;
}

* {
  background-color: #ffffff;
  max-width: 1024px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-height: 250px;
  height: auto;
}

.elemento {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 920px;
  margin: 1px;
  justify-content: space-evenly;
}

.cartas {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  width: 360px;
  margin: 15px;
  justify-content: space-evenly;
}

.cartasGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  padding: var(--size);
  background-color: #ffffff;
  justify-content: center;
  max-width: 900px;
}

.botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 2px;
}

.texto-titulo,
.texto-puntuacion,
.texto-gameover {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.texto-titulo {
  color: black;
}

.texto-puntuacion {
  color: blueviolet;
}

.texto-gameover {
  color: #f80606;
}

.button-green,
.button-red,
.button-gold,
.button-silver {
  border: none; /* Sin bordes */
  color: white; /* Color del texto */
  padding: 15px 32px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin decoración de texto */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* Cambia el cursor al pasar el ratón por encima */
  border-radius: 12px; /* Bordes redondeados */
}

.button-green {
  background-color: #4caf50; /* Color de fondo */
}

.button-green:hover {
  background-color: #45a049; /* Cambia el color de fondo al pasar el ratón por encima */
}

.button-red {
  background-color: #f80606; /* Color de fondo */
}

.button-red:hover {
  background-color: #b30d0d; /* Cambia el color de fondo al pasar el ratón por encima */
}

.button-gold {
  background-color: gold;
}

.button-gold:hover {
  background-color: goldenrod;
}

.button-silver {
  background-color: darkgray;
}

.button-silver:hover {
  background-color: silver;
}

@media (max-width: 1180px) {
  img {
    max-height: 600px;
  }
  .cartas {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    width: 600px;
    margin: 15px;
    justify-content: space-evenly;
    font-size: 4rem;
  }
  .botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 2px;
    font-size: 4rem;
  }

  .texto-titulo,
  .texto-puntuacion,
  .texto-gameover {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
}
