* {
  margin: 5px;
  padding: 1px;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  background-color: #141414;
}

.contenedor-principal {
  display: grid;
  justify-content: center;
}

.contenedor-elementos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.contenedor-elementos-oculto {
  opacity: 0;
  transition: opacity 2s;
}

.elemento {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: solid;
  border-radius: 12%;
  background-color: silver;
  width: 170px;
  height: 200px;
}

.elemento-activo {
  background-color: lightskyblue;
}

.elemento-sideB {
  background-color: blueviolet;
}

.carta {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  appearance: none;
  font-size: 0.9em;
  font-weight: bold;
  border: 0px;
  border-radius: 0.3em;
  padding: 0.3em;
  cursor: pointer;
  margin: 20px;
  background-color: grey;
}

.button:hover,
.button:active {
  background-color: white;
}

h1 {
  color: silver;
}

.elemento-activo:hover {
  border-color: lightskyblue;
}
