* {
  margin: 5px;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  background-color: #141414;
}

img {
  transition: opacity 2s;
}

img.ocultar {
  opacity: 0;
}

.contenedor-principal {
  display: grid;
  justify-content: center;
}

.cabecera {
  display: flex;
  justify-content: space-between;
}

.contenedor-elementos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.contenedor-elementos-oculto {
  opacity: 0;
  transition: opacity 2s;
}

.elemento {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: solid;
  border-radius: 12%;
  background-color: silver;
  width: 170px;
  height: 200px;
}

.elemento-activo {
  background-color: lightskyblue;
}

.elemento-sideB {
  background-color: blueviolet;
}

.elemento-activo,
.elemento-sideB {
  transition: background-color 2s;
}

.carta {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.contador {
  appearance: none;
  font-size: 0.9em;
  font-weight: bold;
  border: 0px;
  border-radius: 0.3em;
  padding: 0.3em;
  margin: 20px;
  margin-bottom: 0px;
  background-color: grey;
}

.button {
  appearance: none;
  font-size: 0.9em;
  font-weight: bold;
  border: 0px;
  border-radius: 0.3em;
  padding: 0.3em;
  cursor: pointer;
  margin: 20px;
  margin-bottom: 0px;
  background-color: grey;
}

.button:hover,
.button:active {
  background-color: white;
}

h1 {
  color: silver;
}

.aviso {
  font-size: xx-large;
  color: purple;
  text-align: center;
}

.elemento-activo:hover {
  border-color: lightskyblue;
}

.avatar {
  opacity: 1;
  transition: opacity 4s;
}

/* Estilos para pantallas con una resolución inferior a 1920x1080 */
@media screen and (max-width: 1920px) and (max-height: 1080px) {
  .elemento {
    width: 160px;
    height: 170px;
  }
}
